@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.link {
  color: #9ca3a1;
  text-decoration: none;
}

/*########## Header ########## */

.header {
  align-items: center;
  background-color: #1a1b1e;
  color: #9ca3a1;
  display: flex;
  padding: 0.7rem 1rem;
}

.header .logo-container {
  align-items: center;
  display: flex;
  gap: 0.7rem;
  flex: 1;
}

.header .topbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex: 5;
  padding-left: 2rem;
}

.header .topbar .actions {
  display: flex;
  gap: 1rem;
}

.header .topbar .actions button {
  display: flex;
}

/*########## Container ########## */

.container {
  display: flex;
  min-height: 100vh; /* vh = viewport hight*/
}

/*########## Container > Side Menu ########## */

.container .side-menu {
  background-color: #1a1b1e;
  color: #9ca3a1;
  flex: 1;
  padding-left: 1rem;
}

/*########## Container > Main Content ########## */

.container .main-content {
  flex: 5;
  padding: 2rem;
}
