@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.link {
  color: #9ca3a1;
  text-decoration: none;
}

/*########## Header ########## */

.header {
  align-items: center;
  background-color: #1a1b1e;
  color: #9ca3a1;
  display: flex;
  padding: 0.7rem 1rem;
}

.header .logo-container {
  align-items: center;
  display: flex;
  gap: 0.7rem;
  flex: 1;
}

.header .topbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex: 5;
  padding-left: 2rem;
}

.header .topbar .actions {
  display: flex;
  gap: 1rem;
}

.header .topbar .actions button {
  align-items: center;
  aspect-ratio: 1 / 1;
  display: flex;
}

.header .topbar .actions .avatar {
  border-radius: 50%;
}

/*########## Container ########## */

.container {
  display: flex;
  min-height: 100vh; /* vh = viewport hight*/
}

/*########## Container > Side Menu ########## */

.container .side-menu {
  background-color: #1a1b1e;
  color: #9ca3a1;
  flex: 1;
  padding-left: 1rem;
}

/*########## Container > Main Content ########## */

.container .main-content {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  flex: 5;
  gap: 2rem;
  padding: 2rem;
}

/*########## Container > Main Content > Card ########## */

.container .main-content .card {
  background-color: #1a1b1e;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
}

.container .main-content .card .card-image {
  background-image: url("assets/leather-backpack.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  flex: 1;
}

.container .main-content .card .card-content {
  color: whitesmoke;
  padding: 1rem;
}

.container .main-content .card .card-content h3 {
  margin-bottom: 1rem;
}

.container .main-content .card .card-content .card-text {
  color: #9ca3a1;
  margin-bottom: 1rem;
}

.container .main-content .card .card-content .card-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.container .main-content .card .card-content .card-actions .add {
  background-color: inherit;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
